
{:paths ["source-code/clj"]
 :deps  {bithandshake/cljc-fruits {:git/url "https://github.com/bithandshake/cljc-fruits"
                                   :sha     "e994fa494707ee64bca3376d3a1af7bb3b749e67"}
         bithandshake/io-api      {:git/url "https://github.com/bithandshake/io-api"
                                   :sha     "2a0066057ab464d0bd42bef9045524fe25283eab"}
         bithandshake/pattern-api {:git/url "https://github.com/bithandshake/pattern-api"
                                   :sha     "6f7c53da1d34e87eca868a6b77b45ca3f3049247"}}}
