
{:paths ["source-code/clj"]
 :deps  {bithandshake/cljc-fruits    {:git/url "https://github.com/bithandshake/cljc-fruits"
                                      :sha     "debf8b6ee95bd0b6eb55287e4de86bc8c4f58f2c"}
         bithandshake/cljc-io        {:git/url "https://github.com/bithandshake/cljc-io"
                                      :sha     "ced3d733a002e96b1a20ecc7b2a126fad4a1c8ae"}
         bithandshake/cljc-validator {:git/url "https://github.com/bithandshake/cljc-validator"
                                      :sha     "f88b799b5d7a91609c78d42aa4ea858dd130534e"}}}
